<!DOCTYPE HTML>
<html>
{% load static %}
<head>
    <title>Alimentación</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="{% static 'modulos/css/main.css'%}" rel="stylesheet">
    <noscript>
        <link rel="stylesheet" href="{% static 'modulos/css/noscript.css'%}" /></noscript>

</head>

<body class="is-preload">

    {% include "nav.html" %}
<br>
<br>
<br>
<br>
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
            <header>
                <h2>¿ Por qué es tan importante la Alimentación ?.</h2>
            </header>
            <p>La <strong>importancia de la alimentación</strong> durante el periodo de entrenamiento. Una alimentación
                consiente es la clave para entregarle al cuerpo las vitaminas y nutrientes que necesita, especialmente
                después de realizar actividad física
                </a>.</p>

        </div>
    </section>


    <section id="one" class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Proceso metabolico</h2>
            </header>
            <p>Procesos metabólicos. Son aquellos procesos involucrados en la transformación de la materia en energía,
                comprende 2 etapas antagónicas, el anabolismo, etapa de construcción o producción y el catabolismo,
                etapa de degradación, lisis o destrucción.</p>
        </div>
        <a href="#two" class="button style2 down anchored">Next</a>
    </section>


    <section id="two" class="main style2 left dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>¿Es tan importante la alimentacion saludable?</h2>
            </header>
            <p>Una alimentación saludable ayuda a proteger la salud y a prevenir enfermedades. ... Una alimentación sana
                permite por un lado que nuestro organismo funcione con normalidad, que cubra nuestras necesidades
                fisiológicas básicas, y por otro,
                reduce el riesgo de padecer enfermedades a corto y largo plazo.</p>
        </div>
        <a href="#work" class="button style2 down anchored">Next</a>
    </section>


    <section id="work" class="main style3 primary">
        <div class="content">
            <header>
                <h2>A la hora de entrenar es muy importante que proceso metabolico necesitamos y en base a esto que tipo
                    de alimentación</h2>
                <div>
                    <p>El catabolismo (del griego kato 'hacia abajo', y ballein 'lanzar') es la parte del proceso
                        metabólico que consiste en la degradación de nutrientes orgánicos transformándolos en productos
                        finales simples, con el fin de extraer de ellos energía química y convertirla en una forma útil
                        para la célula.</p>
                    <div>
                        <p>El anabolismo o biosíntesis es un proceso metabólico en el cual se generan sustancias
                            complejas a partir de otras sustancias más simples. La palabra proviene del griego ana, que
                            significa 'hacia arriba', y ballein, que significa 'lanzar'.</p>
            </header>
            <br>
            <div class="content">
                <header>
                    <h2>Catabolismo vs Anabolismo</h2>
                    <p>Existen una serie de puntos o situaciones que debemos tener en cuenta para que el anabolismo se
                        dé una forma correcta impidiendo por tanto que se produzca un catabolismo muscular, privándonos
                        de conseguir nuestro ansiado objetivo. Estos principalmente son:
                        <div>
                            <p>Alimentación:</p> es la clave de todo, como siempre. Par evitar el catabolismo y promover
                            el anabolismo hay que comer suficientemente para no tener poca energía en el cuerpo. Además
                            para conseguir evitar la pérdida del músculo,
                            debes evitar la sensación de hambre.
                            <div>
                                <p>Dormir: </p> cuando dormimos regeneramos, recuperamos y crecemos muscularmente así
                                que es importante dormir una 7 horas diarias para promover el anabolismo muscular. Si
                                bien se suele decir que en esas horas se puede llegar a catabolizar algo porque se está
                                en ayunas, el metabolismo es más lento y esto es bastante complicado si bien se puede
                                aliviar tomando proteínas de asimilación lenta antes de acostarse.
                                <div>
                                    <p>Intensidad: </p> un entrenamiento de intensidad es el que va a provocar el
                                    desarrollo muscular pero hay que realizarlo con las reservas de glucógeno repletas
                                    para impedir que se pueda catabolizar si están agotas las reservas.
                                    <div>
                                        <p>Ayuno: </p> el ayuno es la falta de alimentos prolongada, y acaba con las
                                        reservas de grasas para disponer de energía, con lo que si se mantiene se
                                        destruirán los tejidos musculares, así que no hay que realizar ayunos ni en
                                        definición.
                                        <div>
                                            <p>Cardio: </p> con el ejercicio aeróbico trabajamos la resistencia y
                                            quemamos grasa pero al pasar de 40 minutos de duración se suelen agotar las
                                            reservas de energía. El cardio no favorece la ganancia de músculo y a partir
                                            de las dos horas aproximadamente se produce catabolismo muscular. Así que
                                            controla la cantidad de cardio que realizas.</p>
                    <div>
                </header>



                <div class="gallery">
                    <article class="from-left">
                        <a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/01.jpg"
                                title="The Anonymous Red" alt="" /></a>
                    </article>
                    <article class="from-right">
                        <a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/02.jpg"
                                title="Airchitecture II" alt="" /></a>
                </div>

            </div>
    </section>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>