<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar post</title>
</head>

<body>
    {% include "nav.html" %}

    <br>
    <br>
    <br>
    <br>
    <!-- Page Content -->
    <div class="container">
     
        <!-- Portfolio Item Heading -->
        <form action="" method="POST" id="editar_post">
            {% csrf_token %}

            <div>

                <h2 class="my-4"> Titulo:<input class="form-control" name="titulo" type="text" value="{{post.titulo}}"> </h2>

            </div>

            <h6><small> {{post.created}} </small></h6>


            <div class="row">

                <img class="img-fluid" src="/media/{{post.foto_post}}" height="500" width="750" alt="">
                <br>
                <br>


            </div>

            <div class="col-md-8">
                <h3 class="my-3">Descripción</h3>
                <input value="{{post.descripcion}}" class="form-control" name="descripcion" id="" cols="200" rows="12"></input>

            </div>

            <hr>
            <div style="padding-left: 20%;">
                    <button type="submit" id="btnGuardarPost" class="btn btn-success"> <i class="far fa-save"></i>
                        Guardar cambios</button>
  
                </div>
        </form>


        <br>
        <br>

    </div>

</body>

</html>