<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{{request.user.first_name}}</title>
</head>

<body>
    {%include "nav.html"%}


    <!-- Page Content -->
    <div class="container">
        <br>
        <br>
        <br>

        <header class="bg-succes text-center py-5 mb-4">
            <div class="container">
                <img class="rounded-circle" src="http://placehold.it/100x100" alt="">
                <h1 class="font-weight-light">{{user.first_name}}</h1>
                <a href="{% url "subir_post" %}" class="nav-item">
                    <button class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i> Nueva publicación</button>
                </a>
            </div>
        </header>

        
        <!-- Page Heading -->
        <h1 class="my-4"> Tus publicaciones</h1>

        <div class="row">
            {% for p in posts %}
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <a href=" {% url 'post' id=p.id %}"><img class="card-img-top " src="/media/{{p.foto_post}}" height="500" width="750" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href=" {% url 'post' id=p.id %}">
                                <h3>{{p.titulo}}</h3>
                            </a>

                        </h4>
                        <h6><small>{{p.created}} </small></h6>
                        <p class="card-text">{{p.descripcion}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <!-- /.row -->

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- /.container -->



</body>

</html>