<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Nueba publicación</title>
</head>

<body>

    {% include "nav.html"%}
    <br>
    <br>
    <br>

    <div style="padding-left: 25%;" class="container-fluid">
        <h1 class="mt-4"> Nueva publicación</h1>
        <form class=" col-md-8" id="form-register" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Titulo -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"> Titulo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="titulo">
                </div>
            </div>
            <!-- Foto -->

            <div class="form-group row input-group mb-3">
                <label for="" class="col-sm-2 col-form-label"> Foto:</label>
                <div class="col-sm-10 custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" name="foto">
                    <label class="custom-file-label" for="inputGroupFile01"></label>
                </div>
            </div>

            <!-- Descripcion -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label"> Descripción:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="descripcion" id="" cols="70" rows="8"></textarea>
                </div>
            </div>
            <br>

            <div style="padding-left: 20%;">
                <button type="submit" id="btnRegistrar" class="btn btn-primary btn-block"> <i class="fas fa-upload"></i>
                    Publicar</button>
            </div>

        </form>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




</body>


</html>