<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Administración de publicaciones</title>
</head>
<body>
    {% include 'nav.html' %}

<br>
<br>
<br>
<br>
<div class="container">
        <br>
        <br>
        <br>

        <!-- Page Heading -->
        <h1 class="my-4"> Publicaciones </h1>

        <div class="row">
            {% for p in posts %}
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top " src="/media/{{p.foto_post}}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <h3>{{p.titulo}}</h3>
                        </h4>
                        <h6><small>{{p.created}} </small></h6>
                        <p class="card-text">{{p.descripcion}}</p>
                        
                    </div>
                    <a href="{% url 'eliminar_post' id=p.id %}" class="btn btn-danger btn-block">Eliminar publicación</a>
                </div>
            </div>
            {% endfor %}

        </div>
        <!-- /.row -->

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- /.container -->



</body>
</html>