<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'modulos/css/bootstrap.min.css'%}" rel="stylesheet">

    <script src="https://kit.fontawesome.com/dc320c12ea.js"></script>
    <link href="{% static 'modulos/css/style_profile.css'%}" rel="stylesheet">
    <title>Ejercicios</title>
</head>
<body>
    
{% include "nav.html" %}
<br>
<br>
<br>

<div class="d-flex" id="wrapper">


    <div class=" border-right bg-dark" id="sidebar-wrapper">

        <div class="list-group list-group-flush">
            <a href="#"style="color: white;"  class="list-group-item list-group-item-action bg-dark">
                    <i  class="fas fa-user-edit"></i> Espalda y biceps</a>
            <a href="#" style="color: white;"class="list-group-item list-group-item-action bg-dark"> <i class="fas fa-dumbbell"></i> Pecho y triceps</a>
            <a href="#"style="color: white;" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-trophy"></i> Core y abdominales</a>
            <a href="#"style="color: white;" class="list-group-item list-group-item-action bg-dark"><i class="fas fa-trophy"></i> Piernas</a>
        </div>
    </div>

    

        <div style="padding-left: 25%;" class="container-fluid">
            

 
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

</body>
</html>